<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AArch64 cpu cores information table</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="AArch64 cpu core information table" />
    <meta name="keywords" content="arm aarch64 cpuinfo /proc/cpuinfo features flags linux kernel" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="AArch64 cpu core information table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="AArch64 cpu core information table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html" />
    <meta property="og:description" content="AArch64 cpu core information table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" id="js">
            $(document).ready(function() {
                    $("#arm_cpu_cores").DataTable( {
                            pageLength  : -1,
                            paging:       false,
                            scrollX:        false,
                            scrollCollapse: false,
                            order: [[1, 'asc'], [0, 'asc']],
                    });
    });
    </script>
    <style type="text/css">

#arm_cpu_cores {
        border: 1px solid #000;
}

#arm_cpu_cores th {
        text-align: center;
        padding: 0.5em;
        line-height: 2em;
        color: black;
}

#arm_cpu_cores thead {
        border: 1px solid black;
}

#arm_cpu_cores td {
        padding: 0.5em;
}

#arm_cpu_cores tbody tr.odd td {
        background-color: lightgrey;
}

.legacy, #arm_cpu_cores tbody tr.odd td.legacy {
        background-color: lightpink;
}

.nowrap {
        white-space: nowrap;
}

.tdc {
	text-align: center;
}
    </style>
</head>
<body>

<h1>AArch64 cpu core information table</h1>
    <p> Table shows some information about cpu cores designed by Arm company (as they provide TRM documentation). </p>

{% include 'aarch32_support.j2' %}

<h2>Author info</h2>
    <p>
    Table is maintained by <a href="https://marcin.juszkiewicz.com.pl/">Marcin Juszkiewicz</a> &mdash; AArch64/Arm developer working at Red Hat as Linaro assignee.
    </p>

<h2>My table pages</h2>
<ul>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-socs.html">AArch64 SoC features table</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html">AArch64 cpu cores information</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html">Linux kernel system calls for all architectures</a></li>
	<li><a href="https://marcin.juszkiewicz.com.pl/download/tables/bsa-sbsa.html">Arm BSA/SBSA checklist</a></li>
</ul>

<h2>How to help</h2>
    <p>
    Sources used to generate table are available in <a
    href="https://github.com/hrw/arm-socs-table">git repository at github</a>.
    Patches are always welcomed.
    </p>

<h2>Build info</h2>
    <p>Table generated on <strong>{{ generate_time }} UTC</strong>.</p>

<table id="arm_cpu_cores">
    <thead>
        <tr>
            <th>CPU core name</th>
            <th>architecture level</th>
            <th>ID number</th>
            <th>AArch32 support</th>
            <th>physical memory address size (bits)</th>
            <th>virtual memory address size (bits)</th>
            <th>supported page sizes</th>
            <th>SVE vector length</th>
        </tr>
    </thead>
    <tbody>
{% for implementer in cpu_cores %}
    {% for core in cpu_cores[implementer].cores %}
    <tr>
        <td>
        {% if cpu_cores[implementer].cores[core].trm %}
        <a href="{{ cpu_cores[implementer].cores[core].trm }}">{{ cpu_cores[implementer].cores[core].name }}</a>
        {% endif %}
        <td class="tdc">{{ cpu_cores[implementer].cores[core].isa_level }}</td>
        <td class="tdc">{{ "0x%0x" | format(core) }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].aarch32 }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].pa_size }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].va_size }}</td>
        <td class="tdc">
        {% for page_size in cpu_cores[implementer].cores[core].page_size %}
		{{ page_size }}{% if not loop.last %},{% endif %}
        {% endfor %}
        </td>
        <td class="tdc">
        {% if cpu_cores[implementer].cores[core].sve_length %}
        {{ cpu_cores[implementer].cores[core].sve_length }}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
</body>
</html>
