<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AArch64 SoC features</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="AArch64 SoC features table" />
    <meta name="keywords" content="arm aarch64 cpuinfo /proc/cpuinfo features flags linux kernel" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="AArch64 SoC features table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="AArch64 SoC features table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html" />
    <meta property="og:description" content="AArch64 SoC features table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

{% include "common/datatables-js-css.inc.j2" %}
{% include "common/css.inc.j2" %}
</head>
<body>

<h1>AArch64 SoC features</h1>
    <p>
    Table shows which cpu features are present in AArch64 SoCs based on information stored in /proc/cpuinfo file under Linux.
    </p>

<h2>How to use</h2>
    <p>There are few features you can use:</p>

    <ul>
        <li>search field allows to filter table</li>
        <li>clicking on header entries sorts table</li>
        <li>columns can be reordered by dragging column header</li>
        <li>hover feature short name to get full name</li>
        <li>links on core names lead to Technical Reference Manual (TRM)</li>
    </ul>

<h2>Some notes</h2>

    <ul>
        <li>table is updated at random moments</li>
        <li>numbers in header are Arm architecture versions where feature was defined</li>
    </ul>

{% include 'aarch32_support.j2' %}
{% include "common/author-tables-help.inc.j2" %}

<table id="infotable" class="display" style="width:100%">
    <thead>
        <tr>
            <th rowspan="2">SoC vendor</th>
            <th rowspan="2">SoC name</th>
            <th rowspan="2">CPU implementers</th>
            <th rowspan="2">Announced</th>
            <th rowspan="2">CPU cores (ISA level)</th>
            <th rowspan="2">AArch32 support</th>
{% for feature in cpu_features %}
            <th title="{{ cpu_features[feature].name }}">{{ feature }}</th>
{% endfor %}
        </tr>
        <tr>
{% for feature in cpu_features %}
            <th>{{ cpu_features[feature].archv }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for soc in socs %}
    <tr>
        <td>{{ soc.vendor  }}</td>
        <td>{{ soc.name  }}</td>
  <td class="nowrap">{% for core in soc.cores %}{{ core.implementer_name }}{% if not loop.last %},<br />{% endif %}{% endfor %}</td>
  <td class="nowrap">{{ soc.announce.time }}</td>
  <td class="nowrap">{% for core in soc.cores -%}
  {% if cpu_cores[core.implementer][core.part].trm %}<a href="{{ cpu_cores[core.implementer][core.part].trm }}">{% endif %}{{ cpu_cores[core.implementer][core.part].name }}{% if cpu_cores[core.implementer][core.part].trm %}</a>{% endif %}
  {% if cpu_cores[core.implementer][core.part].isa_level %} ({{ cpu_cores[core.implementer][core.part].isa_level }}){% endif %}
  {% if not loop.last %},<br />{% endif %}
  {%- endfor %}</td>
  <td class="nowrap">{% for core in soc.cores %}{{ core.aarch32 }}{% if not loop.last and core.aarch32 != "" %},<br />{% endif %}{% endfor %}</td>
    {% for feature in cpu_features %}
        {% if feature in soc['features'] %}
        <td> YES </td>
        {% else %}
        <td class="legacy">NO</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
</body>
<script>
    new DataTable('#infotable', {
            pageLength:         -1,
            paging:             false,
            scrollX:            true,
            scrollCollapse:     false,
            fixedColumns:       { start: 2 },
            colReorder:         true,
            mark:               true,
            dom:                'Bft'
    });
</script>
</html>
