<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AArch64 SoC features</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="AArch64 SoC features table" />
    <meta name="keywords" content="arm aarch64 cpuinfo /proc/cpuinfo features flags linux kernel" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="AArch64 SoC features table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="AArch64 SoC features table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html" />
    <meta property="og:description" content="AArch64 SoC features table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.6/css/colReorder.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.6/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/features/mark.js/datatables.mark.js"></script>
    <script type="text/javascript" id="js">
            $(document).ready(function() {
                    $("#arm_socs").DataTable( {
                            pageLength  : -1,
                            paging:       false,
                            scrollX:        false,
                            scrollCollapse: false,
                            fixedColumns:   {
                                left: 2
                            },
                            colReorder  : true,
                            mark        : true,
                            dom         : 'Bft'
                    });
    });
    </script>
    <style type="text/css">

#arm_socs {
        border: 1px solid #000;
}

#arm_socs th {
        text-align: center;
        padding: 0.5em;
        line-height: 2em;
        color: black;
}

#arm_socs thead {
        border: 1px solid black;
}

#arm_socs td {
        padding: 0.5em;
}

#arm_socs tbody tr.odd td {
        background-color: lightgrey;
}

.legacy, #arm_socs tbody tr.odd td.legacy {
        background-color: lightpink;
}

.nowrap {
        white-space: nowrap;
}
    </style>
</head>
<body>

<h1>AArch64 SoC features</h1>
    <p>
    Table shows which cpu features are present in AArch64 SoCs based on information stored in /proc/cpuinfo file under Linux.
    </p>

<h2>How to use</h2>
    <p>There are few features you can use:</p>

    <ul>
        <li>search field allows to filter table</li>
        <li>clicking on header entries sorts table</li>
        <li>columns can be reordered by dragging column header</li>
        <li>hover feature short name to get full name</li>
        <li>links on core names lead to Technical Reference Manual (TRM)</li>
    </ul>

<h2>Some notes</h2>

    <ul>
        <li>table is updated at random moments</li>
        <li>numbers in header are Arm architecture versions where feature was defined</li>
    </ul>

{% include 'aarch32_support.j2' %}

<h2>Author info</h2>
    <p>
    Table is maintained by <a href="https://marcin.juszkiewicz.com.pl/">Marcin Juszkiewicz</a> &mdash; AArch64/Arm developer working at Red Hat as Linaro assignee.
    </p>

<h2>My table pages</h2>
<ul>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-socs.html">AArch64 SoC features table</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html">AArch64 cpu cores information</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html">Linux kernel system calls for all architectures</a></li>
	<li><a href="https://marcin.juszkiewicz.com.pl/download/tables/bsa-sbsa.html">Arm BSA/SBSA checklist</a></li>
</ul>

<h2>How to help</h2>
    <p>
    Sources used to generate table are available in <a
    href="https://github.com/hrw/arm-socs-table">git repository at github</a>.
    Patches are always welcomed.
    </p>
    <p>
    Please submit missing entries by <a href="https://github.com/hrw/arm-socs-table/issues/new?template=new-arm-soc.md">opening
    an issue in github project</a>.
    </p>

<h2>Build info</h2>
    <p>Table generated on <strong>{{ generate_time }} UTC</strong>.</p>

<table id="arm_socs">
    <thead>
        <tr>
            <th rowspan="2">SoC vendor</th>
            <th rowspan="2">SoC name</th>
            <th rowspan="2">CPU implementers</th>
            <th rowspan="2">CPU cores (ISA level)</th>
            <th rowspan="2">AArch32 support</th>
{% for feature in cpu_features %}
            <th title="{{ cpu_features[feature].name }}">{{ feature }}</th>
{% endfor %}
        </tr>
        <tr>
{% for feature in cpu_features %}
            <th>{{ cpu_features[feature].archv }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for soc in socs %}
    <tr>
        <td>{{ soc.vendor  }}</td>
        <td>{{ soc.name  }}</td>
  <td class="nowrap">{% for core in soc.cores %}{{ core.implementer_name }}{% if not loop.last %},<br />{% endif %}{% endfor %}</td>
  <td class="nowrap">{% for core in soc.cores -%}
  {% if cpu_cores[core.implementer][core.part].trm %}<a href="{{ cpu_cores[core.implementer][core.part].trm }}">{% endif %}{{ cpu_cores[core.implementer][core.part].name }}{% if cpu_cores[core.implementer][core.part].trm %}</a>{% endif %}
  {% if cpu_cores[core.implementer][core.part].isa_level %} ({{ cpu_cores[core.implementer][core.part].isa_level }}){% endif %}
  {% if not loop.last %},<br />{% endif %}
  {%- endfor %}</td>
  <td class="nowrap">{% for core in soc.cores %}{{ core.aarch32 }}{% if not loop.last and core.aarch32 != "" %},<br />{% endif %}{% endfor %}</td>
    {% for feature in cpu_features %}
        {% if feature in soc['features'] %}
        <td> YES </td>
        {% else %}
        <td class="legacy">NO</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
</body>
</html>
