<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AArch64 cpu cores information table</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="AArch64 cpu core information table" />
    <meta name="keywords" content="arm aarch64 cpuinfo /proc/cpuinfo features flags linux kernel" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="AArch64 cpu core information table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="AArch64 cpu core information table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html" />
    <meta property="og:description" content="AArch64 cpu core information table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

{% include "common/datatables-js-css.inc.j2" %}
{% include "common/css.inc.j2" %}
</head>
<body>

<h1>AArch64 cpu core information table</h1>
    <p> Table shows some information about cpu cores designed by Arm company (as they provide TRM documentation). </p>

<h2>Notes</h2>
<ul>
<li>The "features" column may be incomplete.
<li>The "features" column does not show which are optional (usually crypto).
</ul>

{% include "aarch32_support.j2" %}
{% include "common/author-tables-help.inc.j2" %}

<table id="infotable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>CPU core name</th>
            <th>arch level</th>
            <th title="PartNum">ID</th>
            <th>AArch32 support</th>
            <th title="PARange">physical memory address size (bits)</th>
            <th title="VARange">virtual memory address size (bits)</th>
            <th title="TGran4/16/64">supported page sizes</th>
            <th>SVE vector length</th>
            <th>features</th>
        </tr>
    </thead>
    <tbody>
{% for implementer in cpu_cores %}
    {% for core in cpu_cores[implementer].cores %}
    <tr>
        <td>
        {% if cpu_cores[implementer].cores[core].trm %}
        <a href="{{ cpu_cores[implementer].cores[core].trm }}">{{ cpu_cores[implementer].cores[core].name }}</a>
        {% endif %}
        <td class="tdc">{{ cpu_cores[implementer].cores[core].isa_level }}</td>
        <td class="tdc">{{ "0x%0x" | format(core) }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].aarch32 }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].pa_size }}</td>
        <td class="tdc">{{ cpu_cores[implementer].cores[core].va_size }}</td>
        <td class="tdc">
        {% for page_size in cpu_cores[implementer].cores[core].page_size %}
		{{ page_size }}{% if not loop.last %},{% endif %}
        {% endfor %}
        </td>
        <td class="tdc">
        {% if cpu_cores[implementer].cores[core].sve_length %}
        {{ cpu_cores[implementer].cores[core].sve_length }}
        {% endif %}
        </td>
        <td class="tdc">
        {% for feature in cpu_cores[implementer].cores[core].features %}
        {% if arch_features[feature] %}
        <abbr title="{{ arch_features[feature].name }}">
        {% endif %}
        {{ feature | replace('FEAT_', '') }}{% if not loop.last %},{% endif %}
        {% if arch_features[feature] %}
        </abbr>
        {% endif %}
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
</body>
<script>
    new DataTable('#infotable', {
            pageLength:         -1,
            paging:             false,
            scrollX:            false,
            scrollCollapse:     false,
            order:              [[1, 'asc'], [0, 'asc']]
    });
</script>
</html>
